.container-principal {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    overflow: auto;
}

.lado-esquerdo {
    flex: 1;
    background-color: #1b3b4d !important;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 40px;
}

.conteudo-esquerdo {
    text-align: left;
    max-width: 500px;
}

.logo-img {
    width: 300px;
    height: 300px;
    margin-top: 20px;
    max-width: 100%;
    object-fit: contain;
}

.lado-direito {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    overflow-y: auto;
}

.form-box {
    width: 100%;
    max-width: 500px; /* altura */
    padding: 40px;   /* gordura hahaha */
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.form-control,
.form-select {
    border-radius: 15px;
    background-color: #ddd;
    border: none;
    padding: 10px 15px;
    width: 100%;
}

.form-control:focus,
.form-select:focus {
    background-color: #eee;
    outline: none;
    box-shadow: none;
}

button.btn-success {
    border-radius: 15px;
    padding: 10px;
}


@media (max-width: 768px) {
    .container-principal {
        flex-direction: column;
        min-height: auto;
    }

    .lado-esquerdo,
    .lado-direito {
        width: 100%;
        padding: 20px;
        height: auto;
    }

    .conteudo-esquerdo {
        text-align: center;
        margin: auto;
    }

    .form-box {
        max-width: 100%;
        padding: 20px;
    }
}
