body {
    background-color: #f8f9fa;
    font-family: Arial, sans-serif;
}

.card {
    border-radius: 10px;
}

.card-header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

img {
    display: block;
    margin: 0 auto;
}

.progress {
    height: 20px;
    font-size: 0.75rem;
}

/* Estilo para o botão de voltar */
.back-circle {
    width: 40px;
    height: 40px;
    background-color: #1b3b4d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin-left: 0.5rem;
    z-index: 1;
}

.back-circle svg {
    color: white;
}

.back-circle:hover {
    background-color: #154256;
}

/* Visto só aparece verde quando o checkbox está marcado */
.form-check-label .checkmark {
    visibility: hidden;
    color: #198754;
    font-weight: bold;
    margin-right: 4px;
    font-size: 1.2em;
}
.form-check-input:checked + .form-check-label .checkmark {
    visibility: visible;
}

.dropdown-item .checkmark {
    visibility: hidden;
    color: #198754;
    font-weight: bold;
    font-size: 1.2em;
}
.skill-checkbox:checked + .checkmark {
    visibility: visible;
}

/* Responsividade */

/* Telas médias (tablet) */
@media (max-width: 768px) {
    .back-circle {
        width: 35px;
        height: 35px;
    }
 
}

/* Telas pequenas (smartphones) */
@media (max-width: 576px) {
    .back-circle {
        width: 30px;
        height: 30px;
    }

}
