.container-principal {
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    overflow: hidden;
}

.lado-esquerdo {
    flex: 1;
    background: linear-gradient(to bottom right, #1d3557, #457b9d);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.lado-direito {
    flex: 1;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.form-box {
    width: 100%;
    max-width: 400px;
}

/* Responsivo */
@media (max-width: 768px) {
    .container-principal {
        flex-direction: column;
    }

    .lado-esquerdo,
    .lado-direito {
        flex: none;
        width: 100%;
        height: auto;
        padding: 30px;
    }
}
