{% extends 'base.html' %}
{% set hide_navbar = False %}

{% block title %}Home - Instituição de Ensino{% endblock %}

{% block body %}
<div class="container mt-4">
    <h1 class="text-center">Bem-vindo, Instituição de Ensino!</h1>
    <p class="text-center">Gerencie seus alunos e acompanhe o desempenho acadêmico.</p>

    <div class="text-center mt-4">
        <a href="{{ url_for('detalhes_instituicao', id_instituicao=current_user.id_instituicao) }}" class="btn btn-secondary">Detalhes da Instituição</a>
        <a href="{{ url_for('cursos') }}" class="btn btn-primary">Gerenciar Cursos</a>
        <a href="{{ url_for('alunos') }}" class="btn btn-primary">Gerenciar Alunos</a>
    </div>
</div>
{% endblock %}