{% extends "base.html" %}
{% set hide_navbar = False %}

{% block title %}EducInvest - Transforme seu Futuro{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/instituicaoEnsino.css') }}">
{% endblock %}

{% block body %}
<div class="container mt-5 pt-5">
    <h6 class="fw-bold text-center">INSTITUIÇÕES DE ENSINO</h6>

    <div class="row justify-content-center">
        {% for instituicao in instituicaos %}
        <div class="col-md-4 m-3">
            <div class="card shadow">
                <div class="card-header bg-dark text-white fw-bold">
                    {{ instituicao.nome_instituicao }}
                </div>
                <div class="card-body">
                    <img alt="Logo" class="img-fluid mb-3" style="max-height: 80px;">
                    <p>Alunos matriculados: {{ instituicao.quantidade_de_alunos }}</p>
                    <p>Modalidade: {{ instituicao.modalidades }}</p>
                    <p>Cursos: {{ instituicao.areas_de_formacao }}</p>
                    <a href="#" class="btn btn-primary">Ver Alunos</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}